<!-- Main Multi-robot Launch File -->

<launch>
	<param name="robot_description"
		command="$(find xacro)/xacro.py $(find mybot_description)/urdf/mybot.xacro" />

<!-- begin robot 01 -->
	<group ns="robot01">
		<param name="tf_prefix" value="robot01_tf" />
		<include file="$(find mybot_ws-base)/launch/single_robot.launch">
			<arg name="init pose" value="-x 1 -y 1 -z 0" />
			<arg name="robot_name" value="myRobot01" />
		</include>
	</group>

<!-- begin robot 02 -->
	<group ns="robot02">
		<param name="tf_prefix" value="robot02_tf" />
		<include file="$(find mybot_ws-base)/launch/single_robot_launch">
			<arg name="init pose" value="-x 1 -y 1 -z 0" />
			<arg name="robot_name" value="myRobot02" />
		</include>
	</group>
</launch>
