<!-- create multiple robots -->

<launch>
	<param name="robot_description"
		command="$(find xacro/xacro.py $(find mybot_description)/urdf/mybot.xacro" />
<!-- begin robot 01 -->
	<group ns="robot1">
  		<param name="tf_prefix" value="robot1_tf" />
  		<include file="$(find mybot_description)/launch/single_robot.launch" >
  			<arg name="init_pose" value="-x 1 -y 1 -z 0" />
  			<arg name="robot_name" value="Robot1" />
  		</include>
  	</group>